html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: Arial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//============================================RESET CSS=============================================================
@import 'node_modules/animate.css/animate.css';

$blue__l: #81DAF3;
$blue__m: #7DCBFD;
$blue__d: #00B1FB;
$pink__l: #FFC8EF;
$pink__m: #FFA7C8;
$pink__d: #FF79CA;
$text__color: #557AB3;
$text__color--d:rgba(15, 62, 132, 1);
$white: #FFFFFF;

@font-face{
	font-family: 'iCiel_Gotham_Rounded';
	src:url('iCielGotham-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

*, ::after, ::before {
    box-sizing: border-box;
}
img{
    object-fit: cover;
}
.clearfix::after ,.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.nav{
	position: fixed;
	display: inline-block;
	height:auto;
	padding-top:18px;
	width:100%;
	overflow: visible;
	z-index:6;
	@media (max-width: 1209px){
		background: transparent;
		padding-top:5px;

	}
	&__item{
		&--logo{
			float: left;
			margin-left:6%;
			margin-top:5px;
			height:48px;
		}
		&--links{
			float: right;
			width:auto;
			height:48px;
			margin-top:5px;
			margin-right:7%;
		}
		&--icon{
			float: right;
			margin-top:27px;
			margin-right:21.26px;
			color: $text__color;
			
			display: none;
		}
		@media (max-width: 1209px){
			&--logo{
				width: 200.52px;
				height: 55px;
				margin-left: 15px;
				margin-top: 10px;
			}
			&--links{
				display: none;
				width:100%;
				margin-right:10px;
				height:auto;
				height:100vh;
			}
			&--icon{
				display: block;
			}
		}

	}
	&__links{
		display: inline-block;

		text-transform: uppercase;
		font-family: iCiel_Gotham_Rounded;
		// font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.02em;		

		margin-left:16px;
		@media (max-width: 1209px){
			display: table;
			margin-top: 22px;
			margin-bottom: 22px;
			margin-left:30px;
			
		}
		
		.mobile__icon{
			float:right;
			margin-left:100px;
		}
	}
	&__divider{
		display:none;
		width: 90%;
		margin-left:30px;
		margin-right:30px;
		top: 54px;
		border: 1px solid rgba(15, 62, 132, 0.2);			
		@media (max-width: 1209px){
			display:block;
		}
	}
	&__icon{
		display: inline-block;
		font-size: 30px;
	}
	
}
// main{
// 	background-image: 
// 					url(../images/first_bg.png), 
// 					url(../images/second_bg1.png),
// 					url(../images/third_bg2.png), 
// 					url(../images/third_bg1.png),
// 					url(../images/fourth_bg.png),
// 					url(../images/fourth_bg2.png);
// 	background-position: top, top, top, top, top, top;
// 	background-repeat: no-repeat;
	
// }
.background{
	position:absolute;
	img{
		display: block;
		
	}
}
.section{
	display:block;
	position:relative;
	height: 100vh;
	width:100%;
	background-size: 60%, 60%;
	background-repeat: no-repeat;
	@media (max-width: 1209px){
		height:auto !important;
		background:none;
	}
}


.first{
    &__container{
        width:100%;
        position: relative;
        display: block;
		
    }
    &__img{
        width:70%;
        display: block;
		margin-left:auto;
		margin-right:auto;
		margin-top:10%;
            img{
                width:100%;
            }
        
    }
    // &__text {
    //     width:40%;
    //     display: inline-block;
    //     position: absolute;
    //     left:50%;
    //     bottom:30%;
		
	// 	@media (max-width: 1209px){
	// 		position: relative;
	// 		width:100%;
	// 		display: block;
	// 		left:0;
	// 	}
    //     img{
    //         width:80%;
    //         display: block;
    //         margin-left:auto;
    //         margin-right: auto;
    //         animation: headShake 1s;
	// 		animation-iteration-count: infinite;
    //     }
    // }
}

.second{
    &__container{
        width:100%;
		height:100vh;
		padding-top: 50px;
        background-image: url(../images/second_bg_white1.png);
		background-position: center;
		background-repeat: no-repeat;
        position: relative;
        display: block;
		@media (max-width: 1209px){
			height:initial;
			padding-bottom: 50px;
		}
    }
    &__text{
        width: 50%;
		display:inline-block;
		// height:100vh;
        left:25%;
		position:relative;
		@media (max-width: 1209px){
			left:0;
			display:inline-block;
			width:100%;
		}
        .second__fact{
			top:0;
            display: block;
			width:80%;
			@media (max-width: 1209px){
				width:100%;
			}
            a{
                float:left;
                width:30%;
				
                img{
                    width:70%;
                }
            }
            p{
                strong{
                    font-weight: bold;
                }
                font-size: 20px;
				font-family: iCiel_Gotham_Rounded;
				color: #0d3b83;
                right:0;
                width:70%;
				height: 100%;
				@media (max-width: 1209px){
					width:30%;
				}
            }
        }
		.second__fact:nth-of-type(1){
			top:0;
			p{
				padding:25px 0;
				@media (max-width: 1200px){
					height:initial;
					width: 90%;
					padding-left:12%;
					position:absolute;
				}
				@media (max-width: 500px){
					padding-top:0;
				}
			}
			
		}
		.second__fact:nth-of-type(2){
			padding-left:60px;
			position:relative;
			margin-left:10px;
			// width: 90%;
			@media (max-width: 1209px){
				margin-top:50px;
				padding-left:0;
				width: 100%;
				margin-left:0;
			}
			a{
				position:relative;
				z-index:2;

			}
			p{
				display:block;
				position:absolute;
				z-index:1;
				width:70%;
				padding-left:10%;
				padding-top:25px;
				margin-right:12%;
				border-radius: 5%;
				background-color: #fbd4e6;
				@media (max-width: 1209px){
					width: 90%;
					padding-left:12%;
					padding-top:0;

				}
			}
		}
		.second__fact:nth-of-type(3){
			margin-top:20px;
			margin-left:20%;
			@media (max-width: 1209px){
				margin-top:50px;
				margin-left:0;
			}
			p{
				padding:20px 0;
				@media (max-width: 1200px){
					width: 90%;
					padding-left:12%;
					position:absolute;
				}
				@media (max-width: 500px){
					padding-top:0;
				}
			}
		}
    }
	&__img{
		position:relative;
		display:inline-block;
		bottom:0;
		// height:100vh;
		@media (max-width: 1209px){
			display: none;
		}
		.imgContainer{
			img{
				width:100%;
			}
		}
	}
}

.third{
    &__container{
        width:100%;
		background: url(../images/fourth_bg.png);
		background-position: center;
        position: relative;
        display: block;
		
    }
	&__logo{
		display: block;
		width: 100%;
		
		.imgContainer{
			display:block;
			width:20%;
			margin:auto;
			@media (max-width: 1209px){
				width:50%;
				margin:0;
			}
			img{
				width: 100%;
			}
		}
	}
	&__ice{
		&--l{
			z-index: 5;
			display: inline-block;
			position: absolute;
			width:15%;
			left:70%;
			bottom:-10%;
			.imgContainer{
				animation: jello 1s;
				animation-iteration-count: infinite;
				display: block;
				img{
					width: 70%;
				}
			}
			@media (max-width: 1209px){
				display: none;
			}
		}
		&--r{
			display: inline-block;
			position: absolute;
			bottom:-20%;
			width:30%;
			left:13%;
			z-index: 5;
			.imgContainer{
				animation: jello 1s;
				animation-iteration-count: infinite;
				display: block;
				img{
					width: 70%;
				}
			}
			.imgContainer:nth-of-type(1){
				position:absolute;
				top:-70%;
				left:10%;
			}
			@media (max-width: 1209px){
				display: none;
			}
		}
		
	}
	&__video{
		display:block;
		margin:auto;
		width:50%;
		height: 100%;
		position: relative;
		@media (max-width: 1209px){
			width:100%;
			height:initial;
		}
		.imgContainer{
			display: inline-block;
			width: 100%;
			img{
				width: 100%;
				box-shadow: 0px 0px 20px #111e3f;
			}
		}	
		.video__container{
			position: absolute;
			top:0;
			-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.4));
		}	
	}
	
	&__icon{
        text-align: center;
        display:none;
        position:absolute;
        color:black;
        padding-top:25%;
        width:100%;
        height:inherit;
        z-index:3;
        font-size:100px;
        &--mute{
            text-align: end;
            position:absolute;
            color:black;
            bottom:5%;
            right:5%;
            width:auto;
            height:inherit;
            z-index:7;
            font-size:25px;
        }
    }
    &__overlay{
        position:absolute;
        z-index:2;

        width:100%;
		padding-bottom:55%;
        opacity:0.5;
        background-color: transparent;
        height:inherit;
    }
}

.fourth{
	&__container{
        width:100%;
		height:100vh;
        background-image: url(../images/fourth_bg2.png);
		background-size: 100%;
		background-position: bottom;
		background-repeat: no-repeat;
        position: relative;
        display: block;
    }
	&__title{
		display: block;
		padding-top:20px;
		position:relative;
		width:50%;
		margin-left:auto;
		margin-right:auto;
		animation: tada 3s;
		animation-iteration-count: infinite;
		@media (max-width: 1209px){
			width:90%;
		}
		.imgContainer:nth-of-type(1){
			width:70%;
			float:left;
			img{
				width: 90%;
			}
		}
		.imgContainer:nth-of-type(2){
			position:absolute;
			width:30%;
			
			float:right;
			margin-top: 10%;
			img{
				width: 80%;
			}
		}
	}
	&__products{
		width:90%;
		// height:500px;
		bottom:0;
		margin-left:auto;
		margin-right:auto;
		
		display: block;
		position: relative;
		.products{
			width:40%;
			position: absolute;
			display:block;
			overflow:hidden;
			padding-bottom:100px;
			@media (max-width: 1209px){
				padding-top:50px;
				position: relative;
				width:100%;
			}
			.imgContainer{
				display: inline-block;
				width:50%;
				img{
					display: block;
					width: 100%;
				}
			}
			h1{
				position:absolute;
				width:100%;
				bottom:0;
				
				text-align: center;
				font-weight: bolder;
				font-size: 40px;
				font-family: iCiel_Gotham_Rounded;
				text-shadow:0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%), 
							0 0 2px darken(#0F3E84,10%);
				color: #0ab0ea;

			}
			&__size{
				position:relative;
				img{
					width:27%;
					opacity:0;
					
				}
				@media (max-width: 1209px){
					display: none;
				}
			}
			&__l{
				width:33%;
				
				left: 30px;
				bottom:0;
				z-index: 2;
				@media (max-width: 1209px){
					left:0;
					width:100%;
				}
				.imgContainer:nth-of-type(2){
					position: absolute;
					right:5%;	
					top:15%;	
					@media (max-width: 1209px){
						top:25%;
					}			
				}
			}
			&__c{
				
				left:30%;
				bottom:0;
				z-index: 3;
				@media (max-width: 1209px){
					width:100%;
					left:0;
					padding-bottom: 100px;
				}
				.imgContainer:nth-of-type(2){
					position: absolute;
					right:30px;	
					top:10%;	
					@media (max-width: 1209px){
						top:15%;
					}							
				}
				
			}
			&__r{
				width:33%;
				
				right:0;
				bottom:0;
				z-index: 2;
				@media (max-width: 1209px){
					width:100%;
				}
				.imgContainer:nth-of-type(2){
					position: absolute;
					right:5%;	
					top:15%;	
					@media (max-width: 1209px){
						top:33%;
					}							
				}
			}
		}
	}
}

.button {
	&__nav{
		border: 2px solid ;
		border-radius: 38px;
		border-color: transparent;
		padding: 8px 16px;

		transition: all 0.5s;
		background: transparent;
		a{
			text-decoration: none;
			color:$text__color;
		}
		&:hover{
			background: $white;	
			a{
				text-decoration: none;
				color:$text__color;
			}
		}

		&--login{
			border: 2px solid ;
			border-radius: 38px;
			border-color: #FFC8DD;
			padding: 8px 16px;

			transition: all 0.5s;
			background: #FFC8DD;
			a{
				text-decoration: none;
				color:$text__color--d;
			}
			&:hover{
				border-color: $pink__d;
				background: $pink__d;
				a{
					text-decoration: none;
					color:$text__color--d;
				}
			}
			@media (max-width: 1209px){
				display:none;
			}
		}
		&--mobileLog{
			border: 2px solid ;
			border-radius: 38px;
			padding: 8px 16px;

			transition: all 0.5s;
			border-color: #0F3E84;
			background: #0F3E84;
			a{
				text-decoration: none;
				color:#FFFFFF;
			}
			&:hover{
				background: #FFFFFF;
				a{
					text-decoration: none;
					color: #0F3E84;
				}
			}
		}
	}
}

.section.active {
	.first__container{
		.first__img{
			animation: bounceIn 1s;
		}
	}
	.second__container{
		.second__fact{
			animation: lightSpeedInLeft 1s;
		}
		
	}
	.third__container{
		.third__logo{
			.imgContainer{
				animation: flipInX 1s;
			}
		}
		
	}
	.fourth__container{
		.products{
			.imgContainer{
				animation: jackInTheBox 1s;
			}
			h1{
				animation: slideInUp 1s;
			}
		}
		
	}
	
	
	
}

.mobile {
	&__log{
		display:none;
		width:100%; 
		margin-top:10vh;
		@media (max-width: 1209px){
			display: inline-block; 
		}
		@media (max-width:329px){
			margin-top:0;
		}
		li{
			display:inline-block;
		}
		.social__icon {
			display: inline;
			float:right;
			a {
				margin-right:20px;
				color:gray;
				@media (max-width:329px){
					margin-right:10px;
				}
			}
		}
	}
}
@keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}
@keyframes snowflakes-shake{
	0%{transform:translateX(0px)}
	50%{transform:translateX(100px)}
	100%{transform:translateX(0px)}
}
.snowflake__container{
	position:fixed;
	width:100%;
	top:0%;
	z-index:9999;
}
.snowflake{
	position:fixed;
	top:-10%;
	z-index:9999;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running;
}
// .snowflake:nth-of-type(0){
// 	left:0;
// 	animation-delay:0s,0s;
// 	img {
// 		transform: scale(1);
// 	}
// }
.snowflake:nth-of-type(1){
	left:0;
	animation-delay:1s,1s;
	img {
		transform: scale(0.6);
	}
}
.snowflake:nth-of-type(2){
	right:30%;
	animation-delay:6s,.5s;
	img {
		transform: scale(0.8);
	}
}
.snowflake:nth-of-type(3){
	right:10%;
	animation-delay:4s,2s;
	img {
		transform: scale(1);
	}
}
.snowflake:nth-of-type(4){
	left:40%;
	animation-delay:3s,2s;
	img {
		transform: scale(0.5);
	}
}
.snowflake:nth-of-type(5){
	left:20%;
	animation-delay:2s,2s;
	img {
		transform: scale(1);
	}
}
.snowflake:nth-of-type(6){
	right:20%;
	animation-delay:1s,1s;
	img {
		transform: scale(0.5);
	}
}