@import 'node_modules/animate.css/animate.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "iCiel_Gotham_Rounded";
  src: url("iCielGotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*, ::after, ::before {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.nav {
  position: fixed;
  display: inline-block;
  height: auto;
  padding-top: 18px;
  width: 100%;
  overflow: visible;
  z-index: 6;
}
@media (max-width: 1209px) {
  .nav {
    background: transparent;
    padding-top: 5px;
  }
}
.nav__item--logo {
  float: left;
  margin-left: 6%;
  margin-top: 5px;
  height: 48px;
}
.nav__item--links {
  float: right;
  width: auto;
  height: 48px;
  margin-top: 5px;
  margin-right: 7%;
}
.nav__item--icon {
  float: right;
  margin-top: 27px;
  margin-right: 21.26px;
  color: #557AB3;
  display: none;
}
@media (max-width: 1209px) {
  .nav__item--logo {
    width: 200.52px;
    height: 55px;
    margin-left: 15px;
    margin-top: 10px;
  }
  .nav__item--links {
    display: none;
    width: 100%;
    margin-right: 10px;
    height: auto;
    height: 100vh;
  }
  .nav__item--icon {
    display: block;
  }
}
.nav__links {
  display: inline-block;
  text-transform: uppercase;
  font-family: iCiel_Gotham_Rounded;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-left: 16px;
}
@media (max-width: 1209px) {
  .nav__links {
    display: table;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 30px;
  }
}
.nav__links .mobile__icon {
  float: right;
  margin-left: 100px;
}
.nav__divider {
  display: none;
  width: 90%;
  margin-left: 30px;
  margin-right: 30px;
  top: 54px;
  border: 1px solid rgba(15, 62, 132, 0.2);
}
@media (max-width: 1209px) {
  .nav__divider {
    display: block;
  }
}
.nav__icon {
  display: inline-block;
  font-size: 30px;
}

.background {
  position: absolute;
}
.background img {
  display: block;
}

.section {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: 60%, 60%;
  background-repeat: no-repeat;
}
@media (max-width: 1209px) {
  .section {
    height: auto !important;
    background: none;
  }
}

.first__container {
  width: 100%;
  position: relative;
  display: block;
}
.first__img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.first__img img {
  width: 100%;
}

.second__container {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-image: url(../images/second_bg_white1.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
@media (max-width: 1209px) {
  .second__container {
    height: initial;
    padding-bottom: 50px;
  }
}
.second__text {
  width: 50%;
  display: inline-block;
  left: 25%;
  position: relative;
}
@media (max-width: 1209px) {
  .second__text {
    left: 0;
    display: inline-block;
    width: 100%;
  }
}
.second__text .second__fact {
  top: 0;
  display: block;
  width: 80%;
}
@media (max-width: 1209px) {
  .second__text .second__fact {
    width: 100%;
  }
}
.second__text .second__fact a {
  float: left;
  width: 30%;
}
.second__text .second__fact a img {
  width: 70%;
}
.second__text .second__fact p {
  font-size: 20px;
  font-family: iCiel_Gotham_Rounded;
  color: #0d3b83;
  right: 0;
  width: 70%;
  height: 100%;
}
.second__text .second__fact p strong {
  font-weight: bold;
}
@media (max-width: 1209px) {
  .second__text .second__fact p {
    width: 30%;
  }
}
.second__text .second__fact:nth-of-type(1) {
  top: 0;
}
.second__text .second__fact:nth-of-type(1) p {
  padding: 25px 0;
}
@media (max-width: 1200px) {
  .second__text .second__fact:nth-of-type(1) p {
    height: initial;
    width: 90%;
    padding-left: 12%;
    position: absolute;
  }
}
@media (max-width: 500px) {
  .second__text .second__fact:nth-of-type(1) p {
    padding-top: 0;
  }
}
.second__text .second__fact:nth-of-type(2) {
  padding-left: 60px;
  position: relative;
  margin-left: 10px;
}
@media (max-width: 1209px) {
  .second__text .second__fact:nth-of-type(2) {
    margin-top: 50px;
    padding-left: 0;
    width: 100%;
    margin-left: 0;
  }
}
.second__text .second__fact:nth-of-type(2) a {
  position: relative;
  z-index: 2;
}
.second__text .second__fact:nth-of-type(2) p {
  display: block;
  position: absolute;
  z-index: 1;
  width: 70%;
  padding-left: 10%;
  padding-top: 25px;
  margin-right: 12%;
  border-radius: 5%;
  background-color: #fbd4e6;
}
@media (max-width: 1209px) {
  .second__text .second__fact:nth-of-type(2) p {
    width: 90%;
    padding-left: 12%;
    padding-top: 0;
  }
}
.second__text .second__fact:nth-of-type(3) {
  margin-top: 20px;
  margin-left: 20%;
}
@media (max-width: 1209px) {
  .second__text .second__fact:nth-of-type(3) {
    margin-top: 50px;
    margin-left: 0;
  }
}
.second__text .second__fact:nth-of-type(3) p {
  padding: 20px 0;
}
@media (max-width: 1200px) {
  .second__text .second__fact:nth-of-type(3) p {
    width: 90%;
    padding-left: 12%;
    position: absolute;
  }
}
@media (max-width: 500px) {
  .second__text .second__fact:nth-of-type(3) p {
    padding-top: 0;
  }
}
.second__img {
  position: relative;
  display: inline-block;
  bottom: 0;
}
@media (max-width: 1209px) {
  .second__img {
    display: none;
  }
}
.second__img .imgContainer img {
  width: 100%;
}

.third__container {
  width: 100%;
  background: url(../images/fourth_bg.png);
  background-position: center;
  position: relative;
  display: block;
}
.third__logo {
  display: block;
  width: 100%;
}
.third__logo .imgContainer {
  display: block;
  width: 20%;
  margin: auto;
}
@media (max-width: 1209px) {
  .third__logo .imgContainer {
    width: 50%;
    margin: 0;
  }
}
.third__logo .imgContainer img {
  width: 100%;
}
.third__ice--l {
  z-index: 5;
  display: inline-block;
  position: absolute;
  width: 15%;
  left: 70%;
  bottom: -10%;
}
.third__ice--l .imgContainer {
  animation: jello 1s;
  animation-iteration-count: infinite;
  display: block;
}
.third__ice--l .imgContainer img {
  width: 70%;
}
@media (max-width: 1209px) {
  .third__ice--l {
    display: none;
  }
}
.third__ice--r {
  display: inline-block;
  position: absolute;
  bottom: -20%;
  width: 30%;
  left: 13%;
  z-index: 5;
}
.third__ice--r .imgContainer {
  animation: jello 1s;
  animation-iteration-count: infinite;
  display: block;
}
.third__ice--r .imgContainer img {
  width: 70%;
}
.third__ice--r .imgContainer:nth-of-type(1) {
  position: absolute;
  top: -70%;
  left: 10%;
}
@media (max-width: 1209px) {
  .third__ice--r {
    display: none;
  }
}
.third__video {
  display: block;
  margin: auto;
  width: 50%;
  height: 100%;
  position: relative;
}
@media (max-width: 1209px) {
  .third__video {
    width: 100%;
    height: initial;
  }
}
.third__video .imgContainer {
  display: inline-block;
  width: 100%;
}
.third__video .imgContainer img {
  width: 100%;
  box-shadow: 0px 0px 20px #111e3f;
}
.third__video .video__container {
  position: absolute;
  top: 0;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.third__icon {
  text-align: center;
  display: none;
  position: absolute;
  color: black;
  padding-top: 25%;
  width: 100%;
  height: inherit;
  z-index: 3;
  font-size: 100px;
}
.third__icon--mute {
  text-align: end;
  position: absolute;
  color: black;
  bottom: 5%;
  right: 5%;
  width: auto;
  height: inherit;
  z-index: 7;
  font-size: 25px;
}
.third__overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-bottom: 55%;
  opacity: 0.5;
  background-color: transparent;
  height: inherit;
}

.fourth__container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/fourth_bg2.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.fourth__title {
  display: block;
  padding-top: 20px;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  animation: tada 3s;
  animation-iteration-count: infinite;
}
@media (max-width: 1209px) {
  .fourth__title {
    width: 90%;
  }
}
.fourth__title .imgContainer:nth-of-type(1) {
  width: 70%;
  float: left;
}
.fourth__title .imgContainer:nth-of-type(1) img {
  width: 90%;
}
.fourth__title .imgContainer:nth-of-type(2) {
  position: absolute;
  width: 30%;
  float: right;
  margin-top: 10%;
}
.fourth__title .imgContainer:nth-of-type(2) img {
  width: 80%;
}
.fourth__products {
  width: 90%;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
.fourth__products .products {
  width: 40%;
  position: absolute;
  display: block;
  overflow: hidden;
  padding-bottom: 100px;
}
@media (max-width: 1209px) {
  .fourth__products .products {
    padding-top: 50px;
    position: relative;
    width: 100%;
  }
}
.fourth__products .products .imgContainer {
  display: inline-block;
  width: 50%;
}
.fourth__products .products .imgContainer img {
  display: block;
  width: 100%;
}
.fourth__products .products h1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  font-family: iCiel_Gotham_Rounded;
  text-shadow: 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856, 0 0 2px #0a2856;
  color: #0ab0ea;
}
.fourth__products .products__size {
  position: relative;
}
.fourth__products .products__size img {
  width: 27%;
  opacity: 0;
}
@media (max-width: 1209px) {
  .fourth__products .products__size {
    display: none;
  }
}
.fourth__products .products__l {
  width: 33%;
  left: 30px;
  bottom: 0;
  z-index: 2;
}
@media (max-width: 1209px) {
  .fourth__products .products__l {
    left: 0;
    width: 100%;
  }
}
.fourth__products .products__l .imgContainer:nth-of-type(2) {
  position: absolute;
  right: 5%;
  top: 15%;
}
@media (max-width: 1209px) {
  .fourth__products .products__l .imgContainer:nth-of-type(2) {
    top: 25%;
  }
}
.fourth__products .products__c {
  left: 30%;
  bottom: 0;
  z-index: 3;
}
@media (max-width: 1209px) {
  .fourth__products .products__c {
    width: 100%;
    left: 0;
    padding-bottom: 100px;
  }
}
.fourth__products .products__c .imgContainer:nth-of-type(2) {
  position: absolute;
  right: 30px;
  top: 10%;
}
@media (max-width: 1209px) {
  .fourth__products .products__c .imgContainer:nth-of-type(2) {
    top: 15%;
  }
}
.fourth__products .products__r {
  width: 33%;
  right: 0;
  bottom: 0;
  z-index: 2;
}
@media (max-width: 1209px) {
  .fourth__products .products__r {
    width: 100%;
  }
}
.fourth__products .products__r .imgContainer:nth-of-type(2) {
  position: absolute;
  right: 5%;
  top: 15%;
}
@media (max-width: 1209px) {
  .fourth__products .products__r .imgContainer:nth-of-type(2) {
    top: 33%;
  }
}

.button__nav {
  border: 2px solid;
  border-radius: 38px;
  border-color: transparent;
  padding: 8px 16px;
  transition: all 0.5s;
  background: transparent;
}
.button__nav a {
  text-decoration: none;
  color: #557AB3;
}
.button__nav:hover {
  background: #FFFFFF;
}
.button__nav:hover a {
  text-decoration: none;
  color: #557AB3;
}
.button__nav--login {
  border: 2px solid;
  border-radius: 38px;
  border-color: #FFC8DD;
  padding: 8px 16px;
  transition: all 0.5s;
  background: #FFC8DD;
}
.button__nav--login a {
  text-decoration: none;
  color: #0f3e84;
}
.button__nav--login:hover {
  border-color: #FF79CA;
  background: #FF79CA;
}
.button__nav--login:hover a {
  text-decoration: none;
  color: #0f3e84;
}
@media (max-width: 1209px) {
  .button__nav--login {
    display: none;
  }
}
.button__nav--mobileLog {
  border: 2px solid;
  border-radius: 38px;
  padding: 8px 16px;
  transition: all 0.5s;
  border-color: #0F3E84;
  background: #0F3E84;
}
.button__nav--mobileLog a {
  text-decoration: none;
  color: #FFFFFF;
}
.button__nav--mobileLog:hover {
  background: #FFFFFF;
}
.button__nav--mobileLog:hover a {
  text-decoration: none;
  color: #0F3E84;
}

.section.active .first__container .first__img {
  animation: bounceIn 1s;
}
.section.active .second__container .second__fact {
  animation: lightSpeedInLeft 1s;
}
.section.active .third__container .third__logo .imgContainer {
  animation: flipInX 1s;
}
.section.active .fourth__container .products .imgContainer {
  animation: jackInTheBox 1s;
}
.section.active .fourth__container .products h1 {
  animation: slideInUp 1s;
}

.mobile__log {
  display: none;
  width: 100%;
  margin-top: 10vh;
}
@media (max-width: 1209px) {
  .mobile__log {
    display: inline-block;
  }
}
@media (max-width: 329px) {
  .mobile__log {
    margin-top: 0;
  }
}
.mobile__log li {
  display: inline-block;
}
.mobile__log .social__icon {
  display: inline;
  float: right;
}
.mobile__log .social__icon a {
  margin-right: 20px;
  color: gray;
}
@media (max-width: 329px) {
  .mobile__log .social__icon a {
    margin-right: 10px;
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake__container {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 9999;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(1) {
  left: 0;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(1) img {
  transform: scale(0.6);
}

.snowflake:nth-of-type(2) {
  right: 30%;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(2) img {
  transform: scale(0.8);
}

.snowflake:nth-of-type(3) {
  right: 10%;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(3) img {
  transform: scale(1);
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 3s, 2s;
}
.snowflake:nth-of-type(4) img {
  transform: scale(0.5);
}

.snowflake:nth-of-type(5) {
  left: 20%;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) img {
  transform: scale(1);
}

.snowflake:nth-of-type(6) {
  right: 20%;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(6) img {
  transform: scale(0.5);
}

/*# sourceMappingURL=style.css.map */
